@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
}

button:hover {
  border: hsl(120, 90%, 80%) 1px solid;
  box-shadow: 0 0 10px hsl(120, 90%, 80%), 0 0 5px hsl(120, 90%, 80%),
    0 0 5px hsl(120, 90%, 80%);
}
